bin/
build/
eclipse/
out/
.gradle/
.settings/
.updateclasses/
.idea/dictionaries/
.idea/runConfigurations/
.idea/workspace.xml
.classpath
.project
.DS_Store
*.launch
*.iml
Thumbs.db

run/*
!run/eula.txt
!run/mods
!run/config
run/config/*
!run/config/customwindowtitle-client.toml

Mod Update Process.txt
